body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: rgb(255, 221, 176);
}

#calc_bg {
    background-color: grey;
    display: inline-block;
    padding: 15px 15px;
    border: solid black 4px;
    border-radius: 5px;
    margin: 15px 0 15px 0;
    max-height: 100%;
}

input {
    width: 13rem;
    border: solid white 1px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
}

#input2 {
    margin-top: 10px;
}

button {
    width: 6.5rem;
    margin-top: 10px;
    border: solid white 1px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
}

button:hover {
    background-color: white;
    color: black;
    border: solid rgb(0, 0, 0) 1px;
}

h3 {
    margin-top: 10px;
}

@media screen and (max-width: 270px) {
    #calc_bg {
        padding: 5px;
    }
}

